# Explicação

In [5]:
import pandas as pd
import numpy as np

#importando a tabela
melbourne_path = '../../Intro_Machine_Learning/02_basic_data_exploration/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_path)
np.random.seed(0)

melbourne_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [2]:
# get the number of missing data points per column
count_null = melbourne_data.isnull().sum()

# print(count_null)

features_with_null = ['Car', 'BuildingArea', 'YearBuilt', 'CouncilArea']

melbourne_columns_with_null = melbourne_data[features_with_null].isnull().sum()

print('colunas com null:\n', melbourne_columns_with_null)

colunas com null:
 Car               62
BuildingArea    6450
YearBuilt       5375
CouncilArea     1369
dtype: int64

In [8]:
# how many total missing values do we have?
# (linhas, colunas)
print('(linhas, colunas)', melbourne_data.shape)

total_cells = np.product(melbourne_data.shape)
print('todas as células:', total_cells)

missing_cells = melbourne_columns_with_null.sum()
print('total de nulls:', missing_cells)

percent_missing = (missing_cells/total_cells) * 100
print(format(percent_missing, ".2f"))

(linhas, colunas) (13580, 21)
todas as células: 285180
total de nulls: 13256
4.65

In [16]:
# remove all the rows that contain a missing value
melbourne_dropna = melbourne_data.dropna()
melbourne_dropna.head()

# remove all columns with at least one missing value
melbourne_columns_na = melbourne_data.dropna(axis=1)

melbourne_columns_na.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,202.0,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,156.0,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,134.0,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,94.0,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,120.0,-37.8072,144.9941,Northern Metropolitan,4019.0

In [22]:
# get a small subset of the NFL dataset
melbourne_subset = melbourne_data[features_with_null]

print('sem colocar fillna: \n', melbourne_subset.head())

# replace all NA's with 0

fillna_melbourne = melbourne_subset.fillna(0)
print('com fillna: \n', fillna_melbourne.head())

# replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0
bfill_melbourne = melbourne_subset.fillna(method='bfill', axis=0).fillna(0)
print('com fillna e bfill:\n ', bfill_melbourne.head())

sem colocar fillna:
    Car  BuildingArea  YearBuilt CouncilArea
0  1.0           NaN        NaN       Yarra
1  0.0          79.0     1900.0       Yarra
2  0.0         150.0     1900.0       Yarra
3  1.0           NaN        NaN       Yarra
4  2.0         142.0     2014.0       Yarra
com fillna:
    Car  BuildingArea  YearBuilt CouncilArea
0  1.0           0.0        0.0       Yarra
1  0.0          79.0     1900.0       Yarra
2  0.0         150.0     1900.0       Yarra
3  1.0           0.0        0.0       Yarra
4  2.0         142.0     2014.0       Yarra
com fillna e bfill:
     Car  BuildingArea  YearBuilt CouncilArea
0  1.0          79.0     1900.0       Yarra
1  0.0          79.0     1900.0       Yarra
2  0.0         150.0     1900.0       Yarra
3  1.0         142.0     2014.0       Yarra
4  2.0         142.0     2014.0       Yarra

# Exercicio

In [34]:
building_permits_filepath = '../Building_Permits.csv'

sf_df = pd.read_csv(building_permits_filepath)
np.random.seed(0) 

sf_df.head()
# sf_df.shape

C:\Users\gusta\AppData\Local\Temp\ipykernel_19972\1907275559.py:3: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  sf_df = pd.read_csv(building_permits_filepath)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992

In [32]:
count_na = sf_df.isna().sum()
print(sum(count_na))

product_sf_df = np.product(sf_df.shape)
print(product_sf_df)

percent_missing = (sum(count_na) / product_sf_df) * 100

print(percent_missing)

2245941
8552700
26.26002315058403

In [55]:
street_number_zipcode = sf_df[['Street Number Suffix', 'Zipcode']]
street_number_zipcode.isna().head()

#Selecionar itens com NaN na coluna específica:
sf_df[sf_df['Zipcode'].isna()].head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
452,M866367,8,otc alterations permit,12/13/2017,0552,017,2550,NaN,Gough,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1490471235302
464,M845627,8,otc alterations permit,10/18/2017,5286A,021,2241,NaN,Jerrold,Av,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1490955510104
577,M364427,8,otc alterations permit,01/02/2013,0779,028,1235,NaN,Mcallister,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129220681682
731,201301047237,8,otc alterations permit,01/04/2013,6515,017,1387,NaN,Valencia,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1292365379064
864,201301077331,8,otc alterations permit,01/07/2013,3706,095,55,NaN,04th,St,...,1.0,constr type 1,1.0,constr type 1,NaN,NaN,NaN,NaN,NaN,1292500249105

In [58]:
sf_permits_with_na_dropped = sf_df.dropna(axis=1)

sf_permits_with_na_dropped.shape

(198900, 12)

In [62]:
sf_permits_with_na_imputed = sf_df.fillna(method='bfill', axis=0).fillna(0)

print(sf_permits_with_na_imputed)

       Permit Number  Permit Type            Permit Type Definition  \
0       201505065519            4                      sign - erect
1       201604195146            4                      sign - erect
2       201605278609            3  additions alterations or repairs
3       201611072166            8            otc alterations permit
4       201611283529            6                       demolitions
...              ...          ...                               ...
198895       M862628            8            otc alterations permit
198896  201712055595            8            otc alterations permit
198897       M863507            8            otc alterations permit
198898       M863747            8            otc alterations permit
198899       M864287            8            otc alterations permit

       Permit Creation Date Block   Lot  Street Number Street Number Suffix  \
0                05/06/2015  0326   023            140                    A
1                04/19/2016  0306   007            440                    A
2                05/27/2016  0595   203           1647                    A
3                11/07/2016  0156   011           1230                    A
4                11/28/2016  0342   001            950                    A
...                     ...   ...   ...            ...                  ...
198895           12/05/2017  0113  017A           1228                    0
198896           12/05/2017  0271   014            580                    0
198897           12/06/2017  4318   019           1568                    0
198898           12/06/2017  0298   029            795                    0
198899           12/07/2017  0160   006            838                    0

       Street Name Street Suffix  ...  Existing Construction Type  \
0            Ellis            St  ...                         3.0
1            Geary            St  ...                         3.0
2          Pacific            Av  ...                         1.0
3          Pacific            Av  ...                         5.0
4           Market            St  ...                         3.0
...            ...           ...  ...                         ...
198895  Montgomery            St  ...                         5.0
198896        Bush            St  ...                         5.0
198897     Indiana            St  ...                         0.0
198898      Sutter            St  ...                         0.0
198899     Pacific            Av  ...                         0.0

       Existing Construction Type Description Proposed Construction Type  \
0                               constr type 3                        1.0
1                               constr type 3                        1.0
2                               constr type 1                        1.0
3                              wood frame (5)                        5.0
4                               constr type 3                        1.0
...                                       ...                        ...
198895                         wood frame (5)                        5.0
198896                         wood frame (5)                        5.0
198897                                      0                        0.0
198898                                      0                        0.0
198899                                      0                        0.0

       Proposed Construction Type Description Site Permit Supervisor District  \
0                               constr type 1           Y                 3.0
1                               constr type 1           Y                 3.0
2                               constr type 1           Y                 3.0
3                              wood frame (5)           Y                 3.0
4                               constr type 1           Y                 6.0
...                                       ...         ...                 ...
198895                         wood frame (5)           0                 0.0
198896                         wood frame (5)           0                 0.0
198897                                      0           0                 0.0
198898                                      0           0                 0.0
198899                                      0           0                 0.0

       Neighborhoods - Analysis Boundaries  Zipcode  \
0                               Tenderloin  94102.0
1                               Tenderloin  94102.0
2                             Russian Hill  94109.0
3                                 Nob Hill  94109.0
4                               Tenderloin  94102.0
...                                    ...      ...
198895                                   0      0.0
198896                                   0      0.0
198897                                   0      0.0
198898                                   0      0.0
198899                                   0      0.0

                                         Location      Record ID
0       (37.785719256680785, -122.40852313194863)  1380611233945
1        (37.78733980600732, -122.41063199757738)  1420164406718
2         (37.7946573324287, -122.42232562979227)  1424856504716
3        (37.79595867909168, -122.41557405519474)  1443574295566
4        (37.78315261897309, -122.40950883997789)   144548169992
...                                           ...            ...
198895                                          0  1489337276729
198896                                          0  1489462354993
198897                                          0  1489539379952
198898                                          0  1489608233656
198899                                          0  1489796283803

[198900 rows x 43 columns]