# Explicação

In [5]:
import pandas as pd
import numpy as np

#importando a tabela
melbourne_path = '../../Intro_Machine_Learning/02_basic_data_exploration/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_path)
np.random.seed(0)

melbourne_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [2]:
# get the number of missing data points per column
count_null = melbourne_data.isnull().sum()

# print(count_null)

features_with_null = ['Car', 'BuildingArea', 'YearBuilt', 'CouncilArea']

melbourne_columns_with_null = melbourne_data[features_with_null].isnull().sum()

print('colunas com null:\n', melbourne_columns_with_null)

colunas com null:
 Car               62
BuildingArea    6450
YearBuilt       5375
CouncilArea     1369
dtype: int64

In [8]:
# how many total missing values do we have?
# (linhas, colunas)
print('(linhas, colunas)', melbourne_data.shape)

total_cells = np.product(melbourne_data.shape)
print('todas as células:', total_cells)

missing_cells = melbourne_columns_with_null.sum()
print('total de nulls:', missing_cells)

percent_missing = (missing_cells/total_cells) * 100
print(format(percent_missing, ".2f"))

(linhas, colunas) (13580, 21)
todas as células: 285180
total de nulls: 13256
4.65

In [16]:
# remove all the rows that contain a missing value
melbourne_dropna = melbourne_data.dropna()
melbourne_dropna.head()

# remove all columns with at least one missing value
melbourne_columns_na = melbourne_data.dropna(axis=1)

melbourne_columns_na.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,202.0,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,156.0,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,134.0,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,94.0,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,120.0,-37.8072,144.9941,Northern Metropolitan,4019.0

In [22]:
# get a small subset of the NFL dataset
melbourne_subset = melbourne_data[features_with_null]

print('sem colocar fillna: \n', melbourne_subset.head())

# replace all NA's with 0

fillna_melbourne = melbourne_subset.fillna(0)
print('com fillna: \n', fillna_melbourne.head())

# replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0
bfill_melbourne = melbourne_subset.fillna(method='bfill', axis=0).fillna(0)
print('com fillna e bfill:\n ', bfill_melbourne.head())

sem colocar fillna:
    Car  BuildingArea  YearBuilt CouncilArea
0  1.0           NaN        NaN       Yarra
1  0.0          79.0     1900.0       Yarra
2  0.0         150.0     1900.0       Yarra
3  1.0           NaN        NaN       Yarra
4  2.0         142.0     2014.0       Yarra
com fillna:
    Car  BuildingArea  YearBuilt CouncilArea
0  1.0           0.0        0.0       Yarra
1  0.0          79.0     1900.0       Yarra
2  0.0         150.0     1900.0       Yarra
3  1.0           0.0        0.0       Yarra
4  2.0         142.0     2014.0       Yarra
com fillna e bfill:
     Car  BuildingArea  YearBuilt CouncilArea
0  1.0          79.0     1900.0       Yarra
1  0.0          79.0     1900.0       Yarra
2  0.0         150.0     1900.0       Yarra
3  1.0         142.0     2014.0       Yarra
4  2.0         142.0     2014.0       Yarra

# Exercicio

In [25]:
building_permits_filepath = '../Building_Permits.csv'

sf_df = pd.read_csv(building_permits_filepath)
np.random.seed(0) 

sf_df.head()
# sf_df.shape

C:\Users\gusta\AppData\Local\Temp\ipykernel_19972\2051498741.py:3: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  sf_df = pd.read_csv(building_permits_filepath)

(198900, 43)

In [32]:
count_na = sf_df.isna().sum()
print(sum(count_na))

product_sf_df = np.product(sf_df.shape)
print(product_sf_df)

percent_missing = (sum(count_na) / product_sf_df) * 100

print(percent_missing)

2245941
8552700
26.26002315058403

In [33]:
street_number_zipcode = sf_df['Street Number Suffix', 'Zipccode']
street_number_zipcode.head()

KeyError: ('Street Number Suffix', 'Zipccode')